[submodule "mingw-std-threads"]
	path = mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
